doctype html
html
  head
    title Blog in Node JS
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      nav
        ul
          li
            a(href='/') Inicio
          li
            a(href='/posts/agregar') Agregar Post
          li
            a(href='/categorias/agregar') Agregar Categoría
      != messages()
      block content
      
          
          
          
